.footer {
  padding-block: 50px;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    > a {
      color: #3495c5;
      padding-inline: 30px;
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 2px;
    }
  }
}
