.info {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  &__text {
    h2 {
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
      color: #3495c5;
      font-size: 3rem;
      text-transform: capitalize;
    }
  }
}
