.nav {
  padding: 20px 0;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      display: flex;
      align-items: center;
      > h2 {
        margin-bottom: 20px;
        margin-left: -10px;
        color: #3495c5;
      }
      > img {
        height: 80px;
      }
    }
  }
  &__list {
    display: flex;
    &__link {
      width: 120px;
      padding: 10px;
      text-align: center;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      -moz-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      border: 1px solid gray;
      border-radius: 8px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      > a {
        color: #3495c5;
      }
    }
  }
}
