.nav {
  padding: 20px 0;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(lg) {
      max-width: 900px;
    }
    @include breakpoint(md) {
      max-width: 700px;
    }
    @include breakpoint(sm) {
      flex-direction: column;
    }
  }

  &__logo {
    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
    a {
      display: flex;
      align-items: center;
      > h2 {
        margin-bottom: 20px;
        margin-left: -10px;
        color: #3495c5;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
      }
      > img {
        height: 80px;
      }
    }
  }
  &__list {
    display: flex;
    @include breakpoint(sm) {
      flex-direction: column;
    }
    &__link {
      width: 120px;
      padding: 10px;
      text-align: center;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      -moz-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      border: 1px solid gray;
      border-radius: 8px;
      &:not(:last-child) {
        margin-right: 30px;
        @include breakpoint(sm) {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
      > a {
        color: #3495c5;
        font-size: 12px;
      }
    }
  }
}
