.item {
  padding-block: 20px;
  text-align: center;
  &__container {
    max-width: 1200px;
    margin: 0 auto;
    &__list {
      display: flex;
      justify-content: space-between;
      @include breakpoint(l) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
  &__img {
    height: 330px;
    cursor: pointer;
    @include breakpoint(l) {
      margin: 10px;
    }
    img {
      height: 100%;
      border-radius: 8px;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      -moz-box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
      box-shadow: 1px 1px 5px 0px rgba(52, 149, 197, 1);
    }
  }
  &__title {
    padding-top: 10px;
    h4 {
      color: #fff;
      font-weight: 200;
      letter-spacing: 1px;
    }
    &__rating {
      color: #fff;
    }
  }
}
